<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学硕4班信息采集</title>
</head>
<body>
    <h1>学硕4班信息采集</h1>
    <h2>请大家认真填写，每一项都不要有空缺。填写完毕之后点击提交按钮即可</h2>
    <form action="/xinxicaiji/" method="get">
    <table>
        <tr><td>姓名</td><td><input type="text" name="xingming"></td><td>XXX</td></tr>
        <tr><td>学号</td><td><input type="text" name="xuehao"></td><td>2011210220</td></tr>
        <tr><td>导师</td><td><input type="text" name="daoshi"></td><td>张三</td></tr>
        <tr><td>导师电话</td><td><input type="text" name="dsdianhua"></td><td>13333333333</td></tr>
        <tr><td>本人手机号</td><td><input type="text" name="brdianhua"></td><td>18888888888</td></tr>
        <tr><td>邮箱</td><td><input type="text" name="eMail"></td><td>a@b.c</td></tr>
        <tr><td>微信号</td><td><input type="text" name="weixin"></td><td>583960209</td></tr>
        <tr><td>QQ号</td><td><input type="text" name="QQ"></td><td>583960209</td></tr>
        <tr><td>体重</td><td><input type="text" name="weight"></td><td>70</td></tr>
        <tr><td>身高</td><td><input type="text" name="height"></td><td>180</td></tr>
        <tr><td>鞋号</td><td><input type="text" name="size"></td><td>42</td></tr>
        <tr><td>火车站</td><td><input type="text" name="huochezhan"></td><td>太原站</td></tr>
        <tr><td>特长</td><td><input type="text" name="habit"></td><td>足球</td></tr>
        <tr><td>学费</td><td><input type="text" name="money"></td><td>8000</td></tr>
        <tr><td>父亲姓名</td><td><input type="text" name="baba"></td><td>李四</td></tr>
        <tr><td>父亲工作</td><td><input type="text" name="babaGongzuo"></td><td>某厂职工</td></tr>
        <tr><td>父亲手机号</td><td><input type="text" name="babatel"></td><td>18888888888</td></tr>
        <tr><td>母亲姓名</td><td><input type="text" name="mama"></td><td>王五</td></tr>
        <tr><td>母亲工作</td><td><input type="text" name="mamaGongzuo"></td><td>某厂职工</td></tr>
        <tr><td>母亲手机号</td><td><input type="text" name="mamatel"></td><td>18888888888</td></tr>
        <tr><td>家庭电话</td><td><input type="text" name="hometel"></td><td>18888888888</td></tr>
        <tr><td>家庭地址</td><td><input type="text" name="homeadd"></td><td>某省某市某街道</td></tr>
        <tr><td>在京联系人姓名</td><td><input type="text" name="beijing"></td><td>赵六</td></tr>
        <tr><td>在京联系人工作</td><td><input type="text" name="beijingGongzuo"></td><td>某厂职工</td></tr>
        <tr><td>在京联系人手机号</td><td><input type="text" name="beijingtel"></td><td>18888888888</td></tr>
        <tr><td>宿舍号</td><td><input type="text" name="dor"></td><td>学十925</td></tr>
        <tr><td>宿舍长</td><td><input type="text" name="dorP"></td><td>刘七</td></tr>
    </table>
        <input type="submit" value="提交">
    </form>
</body>
</html>